
.header_container {
  border-bottom: double;
  text-align: center;
  background-color: rgb(225, 225, 225);
  color: rgb(0, 0, 0);
  font-family: sans-serif ;
  margin-top: 40px;
  padding-top: 20px;
}

/*  Nav Bar */

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style: none;
  background: #fcfcfc;

  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
}

.navigation a {
  text-decoration: none;
  display: block;
  color: antiquewhite;
  float: left;
}

ul {
  margin-block-start: 0px;
  padding-inline-start: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  
}




/* Links */

a:link, a:visited {
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: rgb(2, 2, 2);
  font-size: 16px;
  font-weight: bold;
}

.main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(238, 238, 238);
  gap: 10px;
}

.card {
border: 1px rgb(57, 62, 70);
border-radius: 1px;
padding: 1.5rem;
margin: .5rem;
background-color: rgb(230, 230, 230);
box-shadow: 0 5px 10px 0 rgb(0, 0, 0);
width: 50%;
transition: 0.2s;
align-self: center;
}

.card:hover {
  box-shadow: 0 12px 15px 0 rgb(0, 0, 0);
}

img {
  width: 100%;
  height: auto;
  border-radius: 1px;
  border-style: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(238, 238, 238);
  gap: 10px;
   
}

h1 {
  text-align: center;
  font-family: sans-serif;
  
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h3 {
  font-family: fantasy;
}



@media (landscape) {
  
}

/* Below is classes for CSS concepts - Margins borders and padding */

.container {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  margin-left: auto;
  margin-right: auto;
}

.box_no_padding {
  background-color: rgb(34, 40, 49);
  width: auto;
  border: 15px solid rgb(0, 173, 181);
  padding: 0px;
  margin: 20px;
}
.box_with_padding {
  background-color: rgb(34, 40, 49);
  width: auto;
  border: 15px solid rgb(0, 173, 181);
  padding: 100px;
  margin: 20px;
}

.box_border {
  background-color: rgb(34, 40, 49);
  width: auto;
  
  border: 30px solid rgb(0, 173, 181);
  padding: 20px;
  margin: 20px;
}

.box_border_radius {
  background-color: rgb(34, 40, 49);
  width: auto;
  border: 30px solid rgb(0, 173, 181);
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

.box_no_margin {
  background-color: rgb(34, 40, 49);
  width: auto;
  border: 30px solid rgb(0, 173, 181);
  padding: 20px;
  margin: 0px;
}

.box_50_margin {
  background-color: rgb(34, 40, 49);
  width: auto;
  border: 30px solid rgb(0, 173, 181);
  padding: 20px;
  margin: 50px;
}

@media (max-width: 780px) {
  .card {
    width: 80%;
  }
}

@media (max-width: 373px) {
  .header_container {
    margin-top: 80px;
  }
}


