.main_container {
    background-color: rgb(252, 248, 233);
}

.header_container {
  border-bottom: double;
  padding: 30px;
  text-align: center;
}

img {
  width: 100%;
  height: fit-content;
}

.box {
  padding: 50px;
  background-color: aliceblue;
  border-bottom: double;
}